//var
smallfontsize = 12px
navheight = 32px
//css
body,ul
 margin 0
 padding 0
 list-style none
header 
 height navheight
 min-width: 1200px
 border-bottom 1px  solid #ebebeb
 ul
  width auto
  height navheight
  padding: 0px 10px
  &:first-child
   float right
   padding-right: 86px
   a
    color: #414141
    font-weight: bold
    font-size: 14px
    padding: 0px 9px
  &:nth-child(2)
   float left
  div
    float: left
  li
    text-align center
    color:#555555
    float: left
    a
     line-height: navheight
     font-size: smallfontsize
     padding:0px 4px
     &:first-child
      color: grey
    img
     height: h=22px
     width: h
     float: left
     padding: 5px 0px
.airQuality
 font-weight: bold
.degree1
 color:#badc00!important
.navlist
 a
  text-decoration: underline
  padding: 0px 7px!important
  color:#55555a
#list
 width: w = 86px
 height: 100%
 position: absolute
 margin-left: 406px
 background: lightgrey
 a
  display: block
  height: 33px
  width: w
  float: left
  font-weight: normal
  padding: 0
  text-decoration: none
  background: #398bfb
  color: white
  transition: all  .5s
  &:hover
   color: #55555a
   background: white
 ul
  width: w
  height: auto
  border-bottom 1px solid grey
  padding: 0px
  li
   height: 76px
   width: 100%
.menu
 li
  &:nth-child(7),&:nth-child(8)
     a
      font-weight: normal